body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    padding: 0;
    margin: 0 !important;
}
#coming-soon-img-mobile {
    display: none;
    padding: 0;
}
.about-background { 
    background-color: #f8f8f8;
}
@media only screen and (max-width: 600px) {
    #coming-soon-img {
        display: none;
    }
    #coming-soon-img-mobile {
        display: inline;
        width: 100%;
        height: 100%;
    }
    .about-background { 
        background-color: white !important;
    }
}
#coming-soon-img {
    width: 100%;
    height: 100%;
    padding: 0;
}
.displayBlock {
    display: block !important;
}
